@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Righteous&display=swap');
@import 'tailwindcss';

@theme {
  --font-primary: "Righteous", sans-serif;
  --font-secondary: "Lexend Deca", sans-serif;
  --color-primary: #F275A1;
  --color-secondary: #1C1729;
}

:root {
  --bg-gradient: linear-gradient(to bottom, var(--color-secondary), var(--color-primary));
  --bg-overlay: repeating-linear-gradient(
    to bottom,
    rgba(0,0,0,0.02) 0 1px,
    transparent 2px 4px
  );
}

body {
    @apply font-secondary
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.jsx';
@source '../**/*.js';